<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udinus.Traditional_Costume_App">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Traditional_Costume_App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Traditional_Costume_App">
        <activity android:name="com.udinus.Traditional_Costume_App.Tentang"></activity>
        <activity android:name="com.udinus.Traditional_Costume_App.Dashboard" />
        <activity android:name="com.udinus.Traditional_Costume_App.Sukses" />
        <activity android:name="com.udinus.Traditional_Costume_App.Confirm" />
        <activity android:name="com.udinus.Traditional_Costume_App.DetailAdat" />
        <activity android:name="com.udinus.Traditional_Costume_App.Beranda" />
        <activity android:name="com.udinus.Traditional_Costume_App.Login" />
        <activity
            android:name="com.udinus.Traditional_Costume_App.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>